<div class="card-footer p-4 pt-0 border-top-0 bg-transparent"></div>

  <footer id="footer">
<div class="card-footer p-4 pt-0 border-top-0 bg-transparent"></div>
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6 footer-section">
            <h3>Artemanha</h3>
            <p>
                (81) 0 0000-0000
            </p>
            <p>
                Rua Recife, bairro Recife, Recife/PE
            </p>
          </div>

          <div class="col-lg-4 col-md-6 footer-section">
            
            <h4>Links úteis</h4>          
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#trainers" class="text-reset">Desenvolvedores</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://www.ipea.gov.br/ods/ods10.html" class="text-reset" target="_blank">ODS 10</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://brazil.generation.org/" class="text-reset" target="_blank">Generation Brasil</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-section">
            <h4>Entre em contato com a gente!</h4>

            <p>Colocar um formulário de email</p>

          </div>
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent"></div>
        </div>
      </div>
    </div>
  </footer>