<footer id="footer">
  <div class="footer-top pt-5">
    <div class="container">
      <div class="row">

        <div class="col-lg-4 col-md-6 footer-section">
          <h3>ArteManha</h3>
          <p>
            (81) 0 0000-0000
          </p>
          <p>
            Rua Recife, bairro Recife, Recife/PE
          </p>
        </div>

        <div class="col-lg-4 col-md-6 footer-section">

          <h4>Links úteis</h4>
          <ul class='list-unstyled'>
            <li><i class="bx bx-chevron-right"></i> <a href="#trainers" class="text-reset" routerLink='/idealizadores'>Desenvolvedores</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="https://www.ipea.gov.br/ods/ods10.html" class="text-reset"
                target="_blank">ODS 10</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="https://brazil.generation.org/" class="text-reset"
                target="_blank">Generation Brasil</a></li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-6 footer-section">
          <h4>Seja um colaborador</h4>

          <p>artemanha@email.com</p>


        </div>
        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent"></div>
      </div>
    </div>
  </div>
</footer>