#img-bg{
    background-image: url('../../assets/foto6.jpg');
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cor-texto{
    color: #b8784b;
}