<nav class="navbar navbar-expand-lg navbar-light bg-color">
  <a class="navbar-brand fonte-size-18 bg-color-art" href="#">Artemanha</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Entrar
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink='/login'>Entrar</a>
          <a class="dropdown-item" routerLink='/cadastro'>Cadastrar</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
