
  <button routerLink='/carrinho'>Carrinho</button>
  <div class="row">
    <div class="col-sm-3" *ngFor='let produto of listaProdutos'>
      <div class="card text-center">
          <img class="card-img-top" src="{{produto.imagemProduto}}" alt="Imagem de capa do card de produto">
          <div class="card-body">
              <h3><a href="#">{{ produto.nome }}</a></h3>
              <div class="text-center">
                  {{ produto.preco | currency: "BRL" }}
              </div>             
              <p class="card-text text-center">{{ produto.avaliacaoProduto }}</p>              
              <div class="text-center"><a href="#" class="btn btn-primary">Carrinho</a></div>
          </div>
      </div>
  </div>
  </div>