<div class="row d-flex justify-content-center">
    <div class="col-md-12 cor-de-fundo">
        <a class="text-reset" href=""> Alimentício |</a>
        <a class="text-reset" href=""> Vestuário|</a>
        <a class="text-reset" href=""> Decoração |</a>
        <a class="text-reset" href=""> Utilitários  |</a>
    </div>
</div>
<div class="container-fluid mt-5">

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                <button routerLink='/carrinho'>conferir Carrinho</button>
                <div class="row">
                    <div class="col-sm-3" *ngFor='let produto of listaProdutos'>
                        <div class="card text-center">
                            <img class="card-img-top" src="{{produto.imagemProduto}}"
                                alt="Imagem de capa do card de produto">
                            <div class="card-body">
                                <h3><a href="#">{{ produto.nome }}</a></h3>
                                <div class="text-center">
                                    {{ produto.preco | currency: "BRL" }}
                                </div>
                                <p class="card-text text-center">{{ produto.avaliacaoProduto }}</p>
                                <div class="text-center"><a href="#" class="btn btn-primary"
                                        (click)='adicionarProduto()' routerLink="/carrinho">Carrinho</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>