<div class="container-fluid">
    <div class="row d-flex justify-content-center mt-5">
        <div class="col-md-7">
          <h1 id='idealizadores' >IDEALIZADORES</h1>
          <br>
          <br>
          <div class="card-deck mb-2">
            <!--CARD BARBARA-->
            <div class="card">
              <img
                class="card-img-top"
                src="https://avatars.githubusercontent.com/u/80930646?v=4"
                alt="Imagem de Barbara"
              />
              <div class="card-body">
                <h5 class="card-title">Bárbara Figueirôa</h5>
                <p class="card-text">
                  <small class="text-muted">Dev Team</small>
                </p>
              </div>
            </div>
            <!--CARD CAMILA-->
            <div class="card">
              <img
                class="card-img-top"
                src="https://avatars.githubusercontent.com/u/91260281?v=4"
                alt="Imagem de Camila"
              />
              <div class="card-body">
                <h5 class="card-title">Camila Bazante</h5>
                <p class="card-text">
                  <small class="text-muted">Dev Team</small>
                </p>
              </div>
            </div>
            <!--CARD DANILLO-->
            <div class="card">
              <img
                class="card-img-top"
                src="https://github.com/Lillow.png
                          "
                alt="Imagem de Danillo"
              />
              <div class="card-body">
                <h5 class="card-title">Danillo Silva</h5>
      
                <p class="card-text">
                  <small class="text-muted"> Dev Team</small>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row d-flex justify-content-center mt-5 mb-5">
        <div class="col-md-7">
          <div class="card-deck">
            <div class="card">
              <img
                class="card-img-top"
                src="https://avatars.githubusercontent.com/u/81785959?v=4"
                alt="Imagem de Fernanda"
              />
              <div class="card-body">
                <h5 class="card-title">Fernanda Azoubel</h5>
                <p class="card-text">
                  <small class="text-muted">Dev Team</small>
                </p>
              </div>
            </div>
            <div class="card">
              <img
                class="card-img-top"
                src="https://github.com/MarceloNegromonte.png"
                alt="Imagem de Marcelo"
              />
              <div class="card-body">
                <h5 class="card-title">Marcelo Negromonte</h5>
                <p class="card-text">
                  <small class="text-muted">Dev Team</small>
                </p>
              </div>
            </div>
            <div class="card">
              <img
                class="card-img-top"
                src="https://github.com/renomariocosme.png"
                alt="Imagem de Renomario"
              />
              <div class="card-body">
                <h5 class="card-title">Renomário Cosme</h5>
                <p class="card-text">
                  <small class="text-muted">Dev Team</small>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>      
</div>