<!--carousel-->
<!---->
<section id="hero" class="d-flex justify-content-center align-items-center">
  <div
    class="container position-relative"
    data-aos="zoom-in"
    data-aos-delay="100"
  >
    <h1>Artemanha</h1>
    <h2>Conectando o empreendedor rural com o mundo!</h2>
    <a href="courses.html" class="btn-get-started">Vá as compras!</a>
  </div>
</section>
<!-- End Hero -->

<div class="container-fluid bg-color">
  <!--COMEÇO DA MAIN-->
  <main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div
            class="col-lg-6 order-1 order-lg-2"
            data-aos="fade-left"
            data-aos-delay="100"
          >
            <img
              src="../../assets/logoRosa.jpeg"
              class="img-fluid ml-5 img-format"
              alt=""
            />
          </div>
          <div
            class="
              col-lg-6
              pt-4 pt-lg-0
              order-2 order-lg-1
              content
              mt-5
              align-items-center
            "
          >
            <h3>Conheça a gente!</h3>
            <p class="fst-italic">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <p>
              Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
              irure dolor in reprehenderit in voluptate velit. Ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate trideta storacalaperda mastiro dolore
              eu fugiat nulla pariatur.
            </p>
            <p>
              Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
              irure dolor in reprehenderit in voluptate
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- End About Section -->

    <!--PORQUE ARTEMANHA-->
    <section id="why-us" class="why-us">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-lg-4 d-flex align-items-stretch">
            <div class="content">
              <h3>Por que escolher a Artemanha?</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis
                aute irure dolor in reprehenderit Asperiores dolores sed et.
                Tenetur quia eos. Autem tempore quibusdam vel necessitatibus
                optio ad corporis.
              </p>
            </div>
          </div>
          <div
            class="col-lg-8 d-flex align-items-stretch"
            data-aos="zoom-in"
            data-aos-delay="100"
          >
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-receipt"></i>
                    <h4>Corporis voluptates sit</h4>
                    <p>
                      Consequuntur sunt aut quasi enim aliquam quae harum
                      pariatur laboris nisi ut aliquip
                    </p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-cube-alt"></i>
                    <h4>Ullamco laboris ladore pan</h4>
                    <p>
                      Excepteur sint occaecat cupidatat non proident, sunt in
                      culpa qui officia deserunt
                    </p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-images"></i>
                    <h4>Labore consequatur</h4>
                    <p>
                      Aut suscipit aut cum nemo deleniti aut omnis. Doloribus ut
                      maiores omnis facere
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <!-- End .content-->
          </div>
        </div>
      </div>
    </section>
    <!-- End Why Us Section -->
  </main>
  <!--FIM DA MAIN1-->
</div>

<!--carousel DE PRODUTOS-->
<div class="row d-flex justify-content-center mt-4 mb-5">
  <div class="col-12">
    <div
      id="carouselExampleControls"
      class="carousel slide"
      data-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            class="d-block img-fluid"
            src="../../assets/foto1.png"
            alt="Primeiro Slide"
          />
        </div>
        <div class="carousel-item">
          <img
            class="d-block img-fluid"
            src="../../assets/foto2.png"
            alt="Segundo Slide"
          />
        </div>
        <div class="carousel-item">
          <img
            class="d-block img-fluid"
            src="../../assets/foto3.png"
            alt="Terceiro Slide"
          />
        </div>
      </div>
      <a
        class="carousel-control-prev"
        href="#carouselExampleControls"
        role="button"
        data-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
      </a>
      <a
        class="carousel-control-next"
        href="#carouselExampleControls"
        role="button"
        data-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Próximo</span>
      </a>
    </div>
  </div>
</div>

<!--Card idealizadores-->
<div class="row d-flex justify-content-center mt-5">
  <div class="col-md-8">
    <div class="card-deck">
      <!--CARD BARBARA-->
      <div class="card">
        <img
          class="card-img-top"
          src="https://avatars.githubusercontent.com/u/80930646?v=4"
          alt="Imagem de Barbara"
        />
        <div class="card-body">
          <h5 class="card-title">Bárbara Figueirôa</h5>
          <p class="card-text">
            <small class="text-muted">Atualizados 3 minutos atrás</small>
          </p>
        </div>
      </div>
      <!--CARD CAMILA-->
      <div class="card">
        <img
          class="card-img-top"
          src="https://avatars.githubusercontent.com/u/91260281?v=4"
          alt="Imagem de Camila"
        />
        <div class="card-body">
          <h5 class="card-title">Camila Bazante</h5>
          <p class="card-text">
            <small class="text-muted">Atualizados 3 minutos atrás</small>
          </p>
        </div>
      </div>
      <!--CARD DANILLO-->
      <div class="card">
        <img
          class="card-img-top"
          src="https://github.com/Lillow.png
                    "
          alt="Imagem de Danillo"
        />
        <div class="card-body">
          <h5 class="card-title">Danillo Silva</h5>

          <p class="card-text">
            <small class="text-muted">Atualizados 3 minutos atrás</small>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row d-flex justify-content-center mt-3">
    <div class="col-md-8">
      <div class="card-deck">
        <div class="card">
          <img
            class="card-img-top"
            src="https://avatars.githubusercontent.com/u/81785959?v=4"
            alt="Imagem de Fernanda"
          />
          <div class="card-body">
            <h5 class="card-title">Título do card</h5>
            <p class="card-text">
              <small class="text-muted">Atualizados 3 minutos atrás</small>
            </p>
          </div>
        </div>
        <div class="card">
          <img
            class="card-img-top"
            src="https://github.com/MarceloNegromonte.png"
            alt="Imagem de Marcelo"
          />
          <div class="card-body">
            <h5 class="card-title">Título do card</h5>
            <p class="card-text">
              <small class="text-muted">Atualizados 3 minutos atrás</small>
            </p>
          </div>
        </div>
        <div class="card">
          <img
            class="card-img-top"
            src="https://github.com/renomariocosme.png"
            alt="Imagem de Renomario"
          />
          <div class="card-body">
            <h5 class="card-title">Título do card</h5>
            <p class="card-text">
              <small class="text-muted">Atualizados 3 minutos atrás</small>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ======= Testimonials Section ======= -->
<section id="testimonials" class="testimonials">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Testimonials</h2>
      <p>What are they saying</p>
    </div>

    <div
      class="testimonials-slider swiper"
      data-aos="fade-up"
      data-aos-delay="100"
    >
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="testimonial-wrap">
            <div class="testimonial-item">
              <img
                src="./assets/img/81785959.jfif"
                class="testimonial-img"
                alt=""
              />
              <h3>Pessoa 1</h3>
              <h4>Pernambuco</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Proin iaculis purus consequat sem cure digni ssim donec
                porttitora entum suscipit rhoncus. Accusantium quam, ultricies
                eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>
        </div>
        <!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-wrap">
            <div class="testimonial-item">
              <img
                src="./assets/img/81785959.jfif"
                class="testimonial-img"
                alt=""
              />
              <h3>Pessoa 2</h3>
              <h4>Rio Grande do Norte</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Export tempor illum tamen malis malis eram quae irure esse
                labore quem cillum quid cillum eram malis quorum velit fore eram
                velit sunt aliqua noster fugiat irure amet legam anim culpa.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>
        </div>
        <!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-wrap">
            <div class="testimonial-item">
              <img
                src="./assets/img/81785959.jfif"
                class="testimonial-img"
                alt=""
              />
              <h3>Pessoa 3</h3>
              <h4>Paraíba</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Enim nisi quem export duis labore cillum quae magna enim sint
                quorum nulla quem veniam duis minim tempor labore quem eram duis
                noster aute amet eram fore quis sint minim.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>
        </div>
        <!-- End testimonial item -->

        <div id="preloader"></div>
        <a
          href="#"
          class="back-to-top d-flex align-items-center justify-content-center"
          ><i class="bi bi-arrow-up-short"></i
        ></a>
      </div>

      <!-- End Testimonials Section -->
    </div>
  </div>
</section>
